@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    hello world.<br/>
        @{ string connString = this.ViewBag.conn;}
        @connString
    </div>
</body>
</html>
