
a:link
{
	color: #000000;
}
a:visited
{
	color: #666666;
}
a:hover
{
	color: #000000;
	text-decoration: none;
}

.hiddenMenu
{
	position: absolute;
	width: 149px;
	height: 100px;
	z-index: 1;
	background-color: #E8E6DF;
	layer-background-color: #E8E6DF;
	border: 1px none #000000;
	visibility: hidden;
}
form td input{
    border-radius: 0;
}
form td input[type="text"],form td input[type="tel"],form td input[type="email"],
form td input[type="password"]{
    min-width: 200px;
}
form td select{
    background: #fff;
    border-radius: 0;
}
input[type="checkbox"] {
    bottom: -1px;
    position: relative;
    height:  auto;
}
input[type="checkbox"] + label{
	margin-left: 5px;
}
body
{
	margin: 0px;
	padding: 0px;
	//text-align: center;
	font-family: Georgia, 'Times New Roman' , Times, serif;
    font-size: 15px;
    line-height: 22px;
}
table,input{
	font-family: Georgia, 'Times New Roman' , Times, serif;
	font-size: 15px;
}
table{
	line-height: 22px;
}
#content
{
	width: 750px;
	margin: 0px auto;
	text-align: center;
}

.flash
{
	position: absolute;
	padding-left: 290px;
	z-index: 1;
}

.topMenu
{
	display: inline;
	margin: 0px;
	padding: 0px;
}

.menu-left
{
	display: inline;
	float: left;
	width: 191px;
	background-color: #e8e6df;
	margin-left: auto;
	margin-right: auto;
}

.menu-right
{
	display: block;
	float: right;
	width: 140px;
	line-height: 0px;
}


.lineSpacing
{
	line-height: 0px;
}

.mainContent
{
	display: block;
	float: left;
	width: 397px;
	padding-left: 9px;
	padding-top: 5px;
	font-family: "Arial" , "Helvetica" , "sans-serif";
	font-size: 9pt;
	line-height: 20px;
	text-align: left;
}

.footer
{
	clear: both;
	padding-top: 0px;
	padding-bottom: 5px;
	background-color: #ffffff;
	font-size: 8pt;
}

.footerBorder
{
	border-top: 1px solid #FF6633;
	border-bottom: 1px solid #FF6633;
	width: 750px;
	padding-top: 5px;
	padding-bottom: 8px;
}

ul
{
	list-style-type: none;
	padding-left:20px;
}
li
{
	padding-left: 25px;
	background: transparent url(../images/small002.gif) no-repeat;
	background-position: 0 5px;
}

h1
{
	font-size: 13px;
	line-height: 10px;
}

.commonImageTextButton, .commonImageTextButton:link, .commonImageTextButton:visited, .commonImageTextButton:active{display: inline-block;padding: 4px;margin: 1px;border: solid 1px #888;border-top: #ccc;border-left: #ccc;background: #eee;color: #333;font-family: Georgia, 'Times New Roman' , Times, serif;font-size: 15px;line-height: normal;cursor: pointer;text-decoration: none;}

div#footer-wrapper
{
	width:auto;
	border-top: 1px solid #6a9d3a;
	text-align: center;
}

div#footer
{
	width: 750px;
	margin: 0 auto;
	overflow: hidden;
	text-align: left;
}

div.column
{
	float: left;
	width: 150px;
	font-size: 11px;
	font-weight: normal;
	padding: 1px;
	margin: 1px;
}

div .column ul
{
	padding: 1px;
	margin: 1px;
}

div.column ul strong
{
	color: #2d4f0c;
	font-weight: bold;
	list-style: none;
}

div.column ul li
{
	line-height: 22px;
	font-weight: normal;
	list-style: none;
	color: #3a6611;
}

div.column ul li a
{
	color: #3a6611;
	font-weight: normal;
	text-decoration: none;
}

#articlelinks a
{
	color: #3a6611;
	font-weight: normal;
	text-decoration: none;
	font-size: 11px;
}

.modal
{
    background-color: #fff;
    display: none;
    width: 350px;
    max-height:380px;
    _max-height:380px;
    padding: 15px;
    text-align: left;
    border: 2px solid #333;
    opacity: 0.8;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
    overflow-x:hidden;
    overflow-style:marquee;
    overflow-y:auto;
}

.table-form td{
	padding-bottom: 8px;
}

form{
	margin-bottom: 0;
}
p{
	margin: 0;
	margin-bottom: 10px;
}
p:last-child{
	margin-bottom: 0;
}
.step-wrap{
	background-color: #fbf2f2;
    padding: 15px;
}

#CheckBoxList1{
	width: 100%;
}
#CheckBoxList1 td{
	padding-bottom: 5px;
}
td select:not(:first-child){
	margin-left: 5px;
}
td select{
	margin-right: 5px;
}
input+font,select+font{
	margin-left:5px;
	display:  inline-block;
}
select{
	padding:2px;
}
.table__section+.table__section,.panel+.panel{
	margin-top: 20px;
}
.table__title{
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 10px;
}
.table__row > *:not(p){
	display: inline-block;
	vertical-align:  middle;
}
.table__row+.table__row{
	margin-top:10px;
}
.table__label{
	margin-right:10px;
	min-width:80px;
}
.table__row.table__submit{
	margin-top:15px;
}
.table input+input{
	margin-left:5px;
}
.table-between .table__row > div{
	width: calc((100% - 15px) / 2);
}
.table__submit--right{
	text-align: right;
}
input,select{
	border-radius: 0;
    box-shadow: none;
    padding: 1px 0px;
    margin: 0;
    height: 23px;
}
.table__data-time select{
	margin-right: 7px;
}
.table__data-time select:last-child{
	margin-left: 7px;
}
input[type="radio"],input[type="radio"]+label{
	display:inline-block;
	vertical-align:middle;
}
input[type="radio"]+label{
	margin-left:7px;
}

#divAgreement{
	padding:10px;margin:20px 0;height: 200px;BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; OVERFLOW: auto; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid;"
}
@media (max-width:480px){
	form td input[type="text"]:only-child,
	form td input[type="tel"]:only-child,
	form td input[type="email"]:only-child,
	form td select:only-child,
	form td input[type="password"]:only-child{
    	width: 100%;
	}
	table.table-mobile tr{
	 display: table-cell !important;
	}
	table.table-mobile td,table.table-mobile th{
		display: block;
		//width: 100%;
		height:  auto;
		vertical-align:top;
	}
	.table-mobile{
		width: 100%;
	}
	td select:not(:first-child){
		margin-left:  0;
		margin-top: 5px;
	}
	td select{
		margin-bottom: 5px;
	}
	
	.table__row:not(.table__submit):not(.table__row-m-inline) input:not([type="radio"]):not([type="submit"]), .table__row select{
		width: 100%;
		box-sizing:  border-box;
		max-width: 100%;
	}
	.table__row span+input{
		margin-top:10px;
	}
	.table-between input, .table-between select{
		max-width: 100%;
	}
	.table-between .table__row:not(.table__submit) input:not([type="radio"]):not([type="submit"]), .table-between .table__row select{
		width: calc(100% - 17px);
	}
	.table-between .table__row:not(.table__submit) input[size="12"]{
		width: calc(100% - 60px);
	}
	.table__row:not(.table__submit) .table__data-date input{
		width: calc((100% - 48px) / 3)!important;
	}
	.table__row:not(.table__submit) .table__data-date2 input{
		margin-left:0px;
	}
	.table__row:not(.table__submit) .table__data-date2 input{
		width: calc((100% - 120px) / 3)!important;
	}
	.table__row:not(.table__submit) .table__data-time select{
		width: calc((100% - 130px) / 2)!important;
	}
	.table__row:not(.table__submit) .table__data--payment select,
	.table__row:not(.table__submit) .table__data--payment input{
		width: calc((100% - 20px) / 2)!important;
		vertical-align:  middle;
	}
	.table-between .table__row > div{
		width: 100%;
	}
	.table-mobile .table__row > div,.table-mobile .table__row > span{
		display:block;
	}
	.table__label {
		margin-right: 0px;
		margin-bottom:5px;
	}
	.table-mobile input[type="button"],.table-mobile input[type="submit"],.table-mobile input[type="reset"]{
		display:inline-block;
	}
}