@{
    ViewBag.Title = "Index";
}

<h3 class="page-title">Welcome</h3>
<script type="text/javascript">
    $(document).ready(function () {
        $("#aDashboardSection").addClass("current");
    });
</script>

