@{
    ViewBag.Title = "Index";
}

<h3 class="page-title">New Apply Tip</h3>
@{Html.RenderAction("LastLoanTip");}
<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar-nav a").removeClass();
        $("#nav_a_newapplytip").addClass("active");
    });
</script>

