@{
    ViewBag.Title = "Index";
}

<h3 class="page-title">New Apply Tip</h3>
@{Html.RenderAction("LastLoanTip");}
<script type="text/javascript">
    $(document).ready(function () {
        $("#aDashboardSection").addClass("current");
    });
</script>

