<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <configSections>
    <section name="sslSwitchPaths" type="YingNet.Common.SSLHelper.SSLSwitchHandler,YingNet.Common" />
  </configSections>
  <connectionStrings>
    <remove name="mainConnection" />
    <add name="mainConnection" connectionString="server=.\sqlexpress;database=GBCash;uid=sa;pwd=123;" />
    <add name="securedConn" connectionString="server=.\sqlexpress;database=Secured;uid=sa;pwd=123;" />
    <add name="pawnConn" connectionString="server=.\sqlexpress;database=Pawn;uid=sa;pwd=123;" />
  </connectionStrings>
  <appSettings>
    <!-- 是否缓存数据库连接 -->
    <add key="cacheConnectionStrings" value="false" />
    <!--<add key="gbcashDomain" value="http://www.gbcash.com.au/"/> 
    <add key="securedDomain" value="http://www.gbcash.com.au/secured/"/>
    <add key="pawnDomain" value="http://www.gbcash.com.au/panw/"/>-->
    <add key="gbcashDomain" value="http://localhost/gbc/" />
    <add key="securedDomain" value="http://www.gbcash.com.au/secured/" />
    <add key="pawnDomain" value="http://www.gbcash.com.au/panw/" />
    <!-- 应用的根路径 目前使用"~"获取根目录-->
    <add key="AppName" value="/" />
    <!-- 资源文件保存路径,相对于应用的根路径 -->
    <add key="DiskName" value="disk" />
    <add key="SQLConnString" value="server=mssql1005.ixwebhosting.com;uid=C352332_xieran;pwd=vNJ9cF;database=C352332_cashsolution;Min Pool Size=10" />
    <add key="CNProductPath" value="CNProductPic" />
    <add key="ENProductPath" value="ENProductPic" />
    <add key="NewsPath" value="waiqi/NewsPathPic" />
    <add key="mailSMTP" value="smtp.gmail.com" />
    <add key="mailTo" value="apply@gbcash.com.au" />
    <add key="usernameSMTP" value="apply@goldenbridgefinance.com.au" />
    <add key="passwordSMTP" value="Golden75%*" />
    <add key="mailPort" value="465" />
    <add key="mailSSL" value="true" />
    <add key="mailFrom" value="cashsolution.com.au@gmail.com" />
    <add key="mailAccount" value="cashsolution.com.au@gmail.com" />
    <add key="mailPassword" value="lily03591@hotmail.com" />
    <!--程序当前运行的版本，1806表示2018年6月的版本-->
    <add key="CurrentVersion" value="1806" />
    <!--澳洲使用的日期格式,在数据库等内部保持使用的格式-->
    <add key="CultureInfoFormat" value="zh-CN" />
    <!--澳洲使用的日期格式,在网站前台显示的格式-->
    <add key="DateDisplayFormat" value="dd/MM/yyyy" />
    <!--数据库记录日期使用的格式-->
    <add key="DateRecordFormat" value="MM/dd/yyyy" />
    <add key="ZoneDiff" value="16" />
    <!--贷款日期到最近一次还款日期的最短时间-->
    <add key="minTerm" value="16" />
    <!--贷款日期到最远一次还款日期的最长时间-->
    <add key="maxTerm" value="50" />
  </appSettings>
  <sslSwitchPaths ControlMode="AllowOther" DeployMode="On">
    <file value="~/sslTest.aspx" />
    <path value="~/manage/" />
  </sslSwitchPaths>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms name="manageLogin" defaultUrl="manage/index.aspx" loginUrl="manage/login.aspx" protection="All" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="index.aspx" />
      </files>
    </defaultDocument>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <location path="Manage">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.1" newVersion="3.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>