<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
  <configSections>
    <section name="sslSwitchPaths" type="YingNet.Common.SSLHelper.SSLSwitchHandler,YingNet.Common"/>
  </configSections>
  <connectionStrings>
    <add name="gbcashConn" connectionString="server=.\sqlexpress;database=GBCash;uid=sa;pwd=123;" />
    <add name="securedConn" connectionString="server=.\sqlexpress;database=Secured;uid=sa;pwd=123;" />
    <add name="pawnConn" connectionString="server=.\sqlexpress;database=Pawn;uid=sa;pwd=123;" />
  </connectionStrings>
  <appSettings>
    <add key="DBServer" value="mssql1005.ixwebhosting.com"/>
    <!-- 数据库访问账号 -->
    <add key="DBUser" value="C352332_xieran"/>
    <!-- 数据库访问口令 -->
    <add key="DBPwd" value="vNJ9cF"/>
    <!-- crm数据库名称 -->
    <add key="DBName" value="C352332_cashsolution"/>
    <!-- 数据库类型 1 sql server 2 ms access -->
    <add key="DBType" value="1"/>
    <!-- 应用的根路径 目前使用"~"获取根目录-->
    <add key="AppName" value="/"/>
    <!-- 资源文件保存路径,相对于应用的根路径 -->
    <add key="DiskName" value="disk"/>
    <add key="SQLConnString" value="server=mssql1005.ixwebhosting.com;uid=C352332_xieran;pwd=vNJ9cF;database=C352332_cashsolution;Min Pool Size=10"/>
    <add key="CNProductPath" value="CNProductPic"/>
    <add key="ENProductPath" value="ENProductPic"/>
    <add key="NewsPath" value="waiqi/NewsPathPic"/>
    <add key="mailSMTP" value="smtp.gmail.com"/>
    <add key="mailTo" value="apply@gbcash.com.au"/>
    <add key="usernameSMTP" value="apply@goldenbridgefinance.com.au"/>
    <add key="passwordSMTP" value="Golden75%*"/>
    <add key="mailPort" value="465"/>
    <add key="mailSSL" value="true"/>
    <add key="mailFrom" value="cashsolution.com.au@gmail.com"/>
    <add key="mailAccount" value="cashsolution.com.au@gmail.com"/>
    <add key="mailPassword" value="lily03591@hotmail.com"/>
    <add key="CurrentVersion" value="3"/>
    <!--澳洲使用的日期格式,在数据库等内部保持使用的格式-->
    <add key="CultureInfoFormat" value="zh-CN"/>
    <!--澳洲使用的日期格式,在网站前台显示的格式-->
    <add key="DateDisplayFormat" value="dd/MM/yyyy"/>
    <!--数据库记录日期使用的格式-->
    <add key="DateRecordFormat" value="MM/dd/yyyy"/>
    <add key="ZoneDiff" value="16"/>
    <!--贷款日期到最近一次还款日期的最短时间-->
    <add key="minTerm" value="16" />
    <!--贷款日期到最远一次还款日期的最长时间-->
    <add key="maxTerm" value="50" />
  </appSettings>
<sslSwitchPaths ControlMode="AllowOther" DeployMode="On">
    <file value="~/sslTest.aspx"/>
    <path value="~/manage/"/>
  </sslSwitchPaths>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpModules>
      <add name="SSLSwitchModule" type="YingNet.Common.SSLHelper.SSLSwitchModule,YingNet.Common"/>
    </httpModules>
    <authentication mode="Forms">
      <forms name="manageLogin" defaultUrl="manage/index.aspx" loginUrl="manage/login.aspx" protection="All"></forms>
    </authentication>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <location path="Manage">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.1" newVersion="3.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
